.footer {}

.footer-wrapper {
  background-color: #323232;

  border-bottom: 1px solid #474747;
}

.wrapper-menu-footer {
  padding-top: 50px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 820px) {
    flex-wrap: wrap;
  }
}

.footer-catalog {
  @media (max-width: 820px) {
    width: 50%;
  }
}

.footer-catalog__title {
  margin-top: 0;
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ECECEC;
}

.footer-catalog-list__item {
  margin-bottom: 5px;
}

.footer-catalog-list__link,
.footer-information__link {
  font-size: 15px;
  line-height: 23px;
  color: #9E9E9E;
  text-decoration: none;

  display: flex;
  align-items: center;


  transition: all .1s linear;

  &:hover {
    opacity: .7;
  }

  &:active {
    color: #FADE56;
  }
}

.footer-information__link {
  text-decoration: underline;
}

.router-link-active {
  color: #FADE56;
}

.footer-text {
  margin: 0;
  padding-top: 20px;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #9E9E9E;
}

.footer-copyrait {
  background-color: #1d1d1d;
}

.footer-copyrait__text {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #9E9E9E;
}

.footer-information-wrapper {
  @media (max-width: 820px) {
    margin-right: auto;
  }
}

.footer-information {
  margin-bottom: 11px;
}

.footer-catalog--contact {
  @media (max-width: 653px) {
    margin-bottom: 20px;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.footer-catalog-list__icon {
  margin-right: 13px;
}